<style>
@import url('https://fonts.googleapis.com/css?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lacquer&display=swap');
<link href="https://fonts.googleapis.com/css?family=Lacquer&display=swap" rel="stylesheet">
</style>

.tidds {
    font-family: "Lacquer", cursive;
    color:#F5E191;
    font-size:30px;
}
    
.tart {
    font-family: "Marck Script", cursive;
    color:#EA9341; 
    font-size:25;
    font-style:italic;
}
    
