<style>@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap');
</style>

.tiddler {
    Font-family:"Gloria-Hallelujah", cursive;
    color:#F5E191; }
    
.tart {
    Font-family:"Marck-Script", cursive;
    color:#EA9341; }
    
